ul li{
    list-style-type: none;
    padding-inline-start: 0px;
}
img{
    margin: 0px;
}
.book_box{
    display: table-row;
    height: 80px;
}
.book_avater{
    width: 50px;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
}

.book_infos{
    display: table-cell;
    vertical-align: middle;
}

.similar_items .book_box{
    float: left;
    margin: 2px;
    font-size: 9px;
}